@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    width: 480px;
    justify-self: center;
}

body > div > div {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 12px;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

li .checkbox {
    margin: 0 12px 0 auto;
}

button, .checkbox {
    cursor: pointer;
}

button#new-book {
    align-self: center;
    margin-left: 1em;

    width: 2em;
    height: 2em;
    
    border: none;
    border-radius: 50%;
    
    background-color: ghostwhite;
    background-image: url(add.png);
    background-position: 50% 50%;
}

button#new-book:hover,
button.remove:hover {
    background-color: rgb(224, 224, 224);
}

button.remove {
    width: 2em;
    height: 2em;

    border-radius: 50%;
    border: none;

    background-color: ghostwhite;
    background-image: url(remove.png);
    background-position: 50% 50%;
}